* {
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}

}
.clearfix::after {
	content:"";
	display: block;
	clear: both;
}

main {
	width: 960px;
	margin: 50px auto;
}

.total-list {
	margin-bottom: 50px;
}

.list {
	padding: 20px;
	list-style: none;
}

.list:nth-child(odd) {
	background-color: rgb(192,192,192);
}

.list:nth-child(even) {
	background-color: rgb(255,255,255);
}

.total-square {
	width: 960px;
	margin: 50px auto ;
}

.square {
	float: left;
	width: 30%;
	height: 200px;
	margin-right: 5%;
	background-color: rgb(255,220,0);
	margin-bottom: 40px;
}

.square:first-child,
.square:last-child,
.square:nth-child(5) {
	background-color: rgb(255,165,0);
}

.square:nth-child(3n) {
	margin-right: 0;
}

.square:nht-child(-n+3) {
	margin-bottom: 0;
}

